{% extends 'layout.html' %} 
{% block title %}Novels{% endblock %} 

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    {% endblock %}
    {% block content %}

    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2> UPLOAD DETAILS </h2>
            </div>
            <div class="row clearfix">
                <div class="">
                    <form action="add-book" method="post" enctype="multipart/form-data">
                        <div class="input_field">
                            <input type="text" name="title" placeholder="Book title" required />
                        </div>
                        <!-- <div class="input_field">
                            <input type="text" name="name" placeholder="Book Name" required />
                        </div> -->
                        <div class="input_field">
                            <textarea type="text" name="description" placeholder="Description" required ></textarea>
                        </div>
                        <div class="input_field">
                            <input type="text" name="author" placeholder="Author " required />
                        </div>
                        <div class="input_field">
                            <!-- <input type="text" name="category" placeholder="Category " required /> -->
                            <select name="category">
                                <option value="" disabled selected>Category</option>
                                <option value="fiction">Fiction</option>
                                <option value="science">Science</option>
                                <option value="comics">Comics</option>
                                <option value="adventure">Adventure</option>
                                <option value="math">Math</option>
                                <option value="urdu">Urdu</option>
                                <option value="islamic">Islamic</option>
                                <option value="tourism">Tourism</option>
                                <option value="programming">Programming</option>
                                <option value="graphic-design">Graphic Design</option>
                            </select>
                        </div>
                        <div class="input_field">
                            <input type="number" step="any" min="1" name="price" placeholder="0660115530 " required />
                            Price
                        </div>
                        <div class="input_field">
                            <input type="number" value="1" name="quantity" placeholder="Quantity " required />
                            Quantity
                        </div>
                        <div class="input_field">
                            Upload Image <input type="file" name="image" placeholder="Images " required />
                        </div>



                        <input class="button" type="submit" value="Upload" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
    <script>
        /* Code by CodingTuting.Com */
        function footerToggle(footerBtn) {
            Rs - (footerBtn).toggleClass("btnActive");
            Rs - (footerBtn).next().toggleClass("active");
        }
    </script>
    {% endblock %}