{% extends 'layout.html' %} 
{% block title %}All Books{% endblock %} 

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="static/assets/css/product.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.22/webfontloader.js"></script>

    <link rel="stylesheet" href="/static/assets/css/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/css/style.scss">
    <link rel="stylesheet" href="static/assets/css/3_pages.css">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    {% endblock %}
    {% block content %} 
    <section class="headaer_1">
        <div class="container">
            <div class="row">
                <!-- <div class="search-bar">
                    <input type="text" placeholder="Find Book Search .......">
                    <a href=""> <i class="fa fa-search"></i> </a>
                </div> -->
                
                <form action="/search" method="post" class="search">
                    <input name="q" class="searchTerm" placeholder="Find Book Search  ..." /><button class="searchButton" type="submit"></button>
                </form>
            </div>
        </div>
        <div class="container filter-container">
            <div class="row" class="filter" style="display: block; text-align:center;">
                <form action="">
                    <div class="dropdown">
                        <!-- <label for="Category">Category</label> -->
                        <select class="cat-all"  onclick="myFunction()" class="dropbtn">
                            <option class="sel-opt" value="all">All</option>
                            <option class="sel-opt" value="fiction">Fiction</option>
                            <option class="sel-opt" value="ccience">Science</option>
                            <option class="sel-opt" value="comics">Comics</option>
                            <option class="sel-opt" value="adventure">Adventure</option>
                            <option class="sel-opt" value="math">Math</option>
                            <option class="sel-opt" value="urdu">Urdu</option>
                            <option class="sel-opt" value="islamic">Islamic</option>
                            <option class="sel-opt" value="tourism">Tourism</option>
                            <option class="sel-opt" value="programming">Programming</option>
                            <option class="sel-opt" value="graphic">Graphic</option>
                        </select>
                        <input class="cat-all" type="number" placeholder="Price Min">
                        <input class="cat-all" type="number" placeholder="Price Max">
                        <button class="cat-apply">Apply Filter</button>
                      </div>
                </form>
            </div>
        </div>
        <div class="container">
            <div class="header_tex1">
                <h1>All Books</h1>
                <!-- <a href=""> See All <i class="fa fa-angle-right"></i> </a> -->
            </div>
            <!-- <div class="slider" id="slider">
                <div class="slide" id="slide">
                    <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a>
                    <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a>
                    <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a> <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a>
                    <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a> <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a>
                    <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a> <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a>
                    <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a> <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a>
                    <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a> <a href=""> <img class="item" src="static/assets/images/instagram-01.jpg">
                        <h4>Michelle obama</h4>
                        <p>Rs-400</p>
                    </a>
                </div>
                <button class="ctrl-btn pro-prev">Prev</button>
                <button class="ctrl-btn pro-next">Next</button>
            </div> -->






        </div>



        <div class="container" style="text-align: center;">
            {% for i in books %}
            <div class="cont">
                <a href="/book-detail/{{i[0]}}"><div class="product" id="id{{i[0]}}" data-id="id{{i[0]}}" data-price="{{i[5]}}" data-title="{{i[1]}}"
                    data-img="static/assets/book-images/{{i['7']}}"
                    data-url="https://www.momastore.org/museum/moma/ProductDisplay_Stockwell%20Travel%20Speaker_10451_10001_223993_-1_26707_26707_224026"
                    style="background: url(static/assets/book-images/{{i[7]}});background-size: cover;">
                </div></a>

                <a style="text-decoration: none;" href="/book-detail/{{i[0]}}"><h4>{{i[1][:20]}}</h4></a>
                <p>Rs-{{i[5]}}</p>
                <input hidden type="number" step="any"  id="price-{{i[0]}}" value="{{i[5]}}">
                <!-- {% if loggedin %}
                <p class="flex flex-wrap flex-center flex-gap-xxs">
                    <a href="#0" class=" js-cd-add-to-cart" data-id="{{i[0]}}" data-price="{{i[5]}}" data-title="{{i[1]}}" data-img="{{i[7]}}"><i class="fa fa-bag-shopping"></i></a>
                </p>
                {% else %} 
                <span onclick="loginE()"><i class="fa fa-bag-shopping"></i></span>
                {% endif %} -->
                <p class="flex flex-wrap flex-center flex-gap-xxs">
                    <a href="#0" class=" js-cd-add-to-cart" data-id="{{i[0]}}" data-price="{{i[5]}}" data-title="{{i[1]}}" data-img="{{i[7]}}"><i class="fa fa-bag-shopping"></i></a>
                </p>
            </div>
            {% endfor %}
        </div>
        <!-- <div class="container">
            <div class="header_tex1">
                <h1>Best Seller</h1>
                <a href=""> See All <i class="fa fa-angle-right"></i> </a>
            </div>
            <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/instagram-02.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/instagram-03.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/instagram-04.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/instagram-05.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/instagram-06.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/kid-01.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/kid-02.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/kid-03.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                    <div class="swiper-slide"><a href=""> <img class="item" src="static/assets/images/men-02.jpg">
                            <h4>Michelle obama</h4>
                            <p>Rs-400</p>
                        </a></div>
                </div>
                <div class="swiper-pagination"></div>
            </div> 
        </div> -->
        <div id="wrapper">



            <!--Bordered Pagination-->
            <!-- <div class="b-pagination-outer">

                <ul id="border-pagination">
                    <li><a class="" href="#">«</a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#" class="active">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">6</a></li>
                    <li><a href="#">7</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div> -->

        </div>
        <!--wrapper-->

    </section>
    <div class="cd-cart cd-cart--empty js-cd-cart">
        <a href="#0" class="cd-cart__trigger text-replace">
            Cart
            <ul class="cd-cart__count"> <!-- cart items count -->
                <li>0</li>
                <li>0</li>
            </ul> <!-- .cd-cart__count -->
        </a>
    
        <div class="cd-cart__content">
            <div class="cd-cart__layout">
                <header class="cd-cart__header">
                    <h2>Cart</h2>
                    <span class="cd-cart__undo">Item removed. <a href="#0">Undo</a></span>
                </header>
                
                <div class="cd-cart__body">
                    <ul>
                        <!-- products added to the cart will be inserted here using JavaScript -->
                    </ul>
                </div>
                <div id="chckout"></div>
    
                <footer class="cd-cart__footer">
                    <a href="#0" class="cd-cart__checkout">
              <em onclick="checkoutt()">Checkout - Rs<span>0</span>
                <svg class="icon icon--sm" viewBox="0 0 24 24"><g fill="none" stroke="currentColor"><line stroke-width="2" stroke-linecap="round" stroke-linejoin="round" x1="3" y1="12" x2="21" y2="12"/><polyline stroke-width="2" stroke-linecap="round" stroke-linejoin="round" points="15,6 21,12 15,18 "/></g>
                </svg>
              </em>
            </a>
                </footer>
            </div>
            <span id="groot" hidden></span>
        </div> <!-- .cd-cart__content -->
    </div>
    {% endblock %}
    {% block scripts %}
    <script src="static/assets/js/slider.js"></script>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
        var swiper = new Swiper('.swiper', {
            slidesPerView: 5,
            direction: getDirection(),
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            on: {
                resize: function () {
                    swiper.changeDirection(getDirection());
                },
            },
        });

        function getDirection() {
            var windowWidth = window.innerWidth;
            var direction = window.innerWidth <= 760 ? 'vertical' : 'horizontal';

            return direction;
        }
    </script>
    <script>
        /* Code by CodingTuting.Com */
        function footerToggle(footerBtn) {
            Rs-(footerBtn).toggleClass("btnActive");
            Rs-(footerBtn).next().toggleClass("active");
        }
    </script>

    <script src="static/assets/js/cart.js"></script>
    <script>
        function loginE(){
            console.log("gg");
            alert("Login First!");
        }
    </script>

    <script src="/static//assets/js/js/main.js"></script>
    <script src="/static//assets/js/js/util.js"></script>

    <script type="text/javascript">
        function checkoutt(){
  		    cartTotal = document.getElementsByClassName('cd-cart__checkout')[0].getElementsByTagName('span')[0],
            console.log(cartTotal.innerText)
            productids = document.getElementById("groot").innerHTML
            console.log("productids")
            console.log(productids)
            
            window.location.href = '/cart/'+productids;
            // $.ajax({
            //     data : {
            //         'cart_total' : cartTotal.innerText,
            //         'product_ids' : productids,
            //     },
            //     type : 'POST',
            //     url : '/checkout'
            //     })
            //     .done(function(data){
            //     window.location.href = '/order-placed';
            //     });
            }
    </script>
    {% endblock %}