{% extends 'layout.html' %} 
{% block title %}Cart{% endblock %} 

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/assets/css/product.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.22/webfontloader.js"></script>

    <link rel="stylesheet" href="//static/assets/css/css/style.css">
    <link rel="stylesheet" href="//static/assets/css/css/style.scss">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/assets/css/form.css">
    {% endblock %}
    {% block content %} 
    <section class="headaer_1">
        <div class="container">
            <div class="row">
                <div class="search-bar">
                    <input type="text" placeholder="Find Book Search .......">
                    <a href=""> <i class="fa fa-search"></i> </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header_tex1">
                <h1>Checkout</h1>
                <h1>{{product_ids}}</h1>
                <!-- <a href=""> See All <i class="fa fa-angle-right"></i> </a> -->
            </div>
            
            <div class="bf-table-responsive bf-table-responsive--zebra">
                <table class="bf-table">
                    <tr>
                      <th>Item</th>
                      <th>Image</th>
                      <th>Name</th>
                      <th>Price</th>
                      <th>Rating</th>
                    </tr>
                    {% for i in products %}
                    <tr>
                      <td>{{loop.index}}</td>
                      <td><img style="width:12vh;" src="/static/assets/book-images/{{i[7]}}" alt=""></td>
                      <td>{{i[1]}}</td>
                      <td>Rs {{i[5]}}</td>
                      <td>{{i[9]}}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th></th>
                        <th>Sub Total</th>
                        <th>{{sub_total}}</th>
                        <th></th>
                        <th></th>
                    </tr>
                  </table>
            </div>

            <div class="form-style-5">
                <form action="/cart/0" method="post">
                <fieldset>
                <legend><span class="number">1</span> Delivery Details</legend>
                <input type="text" name="name" placeholder="Enter Your Name *" required>
                <input hidden type="text" name="product_ids" placeholder="Enter Your Name *" value="{{product_ids}}">
                <input type="email" name="email" placeholder="Enter Your Email *" required>
                <input type="number" name="phone" placeholder="Enter Your Phone *" required>
                <input type="text" name="address" placeholder="Enter Your Address *" required>
                <select id="job" name="city">
                  <option value="karachi" selected>Karachi</option>
                  <option value="lahore" selected>Lahore</option>
                  <option value="islamabad" selected>Islamabad</option>
                </select>      
                <select id="job" name="method">
                  <option value="" selected>Home Delivery</option>
                </select>      
                </fieldset>
                <fieldset>
                <legend><span class="number">2</span> Delivery Instructions</legend>
                <textarea name="del_ins" placeholder=""></textarea>
                </fieldset>
                <input type="submit" value="Place Order" />
                </form>
                </div>



        </div>
    {% endblock %}
    {% block scripts %}
    <script>
        /* Code by CodingTuting.Com */
        function footerToggle(footerBtn) {
            Rs-(footerBtn).toggleClass("btnActive");
            Rs-(footerBtn).next().toggleClass("active");
        }
    </script>
    
    {% endblock %}