{% extends 'layout.html' %} 
{% block title %}Contact Us{% endblock %} 

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- <link rel="stylesheet" href="static/assets/css/product.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script> -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.22/webfontloader.js"></script>
    
    <link rel="stylesheet" href="/static/assets/css/3_pages.css">
    {% endblock %}
    {% block content %} 
    
    <section id="contact">

        <h1 class="section-header">Contact Us</h1>

        <div class="contact-wrapper form_wrapper">

            <!-- Left contact page -->

            <form id="contact-form  input_field" class="form-horizontal" role="form">

                <div class="form-group">
                    <input type="text" class="form-control" id="name" placeholder="NAME" name="name" value="" required>
                </div>

                <div class="form-group">
                    <input type="email" class="form-control" id="email" placeholder="EMAIL" name="email" value=""
                        required>
                </div>

                <textarea class="form-control" rows="10" placeholder="MESSAGE" name="message" required></textarea>

                <button class="btn btn-primary send-button" id="submit" type="submit" value="SEND">
                    <div class="alt-send-button">
                        <i class="fa fa-paper-plane"></i><span class="send-text">SEND</span>
                    </div>

                </button>

            </form>

            <!-- Left contact page -->

            <div class="direct-contact-container">

                <ul class="contact-list">
                    <li class="list-item"><i class="fa fa-map-marker fa-2x"><span class="contact-text place">
                                Iqra University
                                    EDC campus 
                            </span></i></li>

                    <li class="list-item"><i class="fa fa-phone fa-2x"><span class="contact-text phone"><a
                                    href="tel:1-212-555-5555" title="Give me a call">03144490444</a></span></i></li>

                    <li class="list-item"><i class="fa fa-envelope fa-2x"><span class="contact-text gmail"><a
                                    href="mailto:#" title="Send me an email">Bookkingdom@gmail.com</a></span></i></li>

                </ul>

               


            </div>

        </div>

    </section>
    {% endblock %}
    {% block scripts %}
    <script>
        /* Code by CodingTuting.Com */
        function footerToggle(footerBtn) {
            Rs-(footerBtn).toggleClass("btnActive");
            Rs-(footerBtn).next().toggleClass("active");
        }
    </script>
    {% endblock %}