{% extends 'layout.html' %} 
{% block title %}Novels{% endblock %} 

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/assets/css/style.css">
    <link rel="stylesheet" href="static/assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

        <style>
            .error{
                color: red;
                /* background-color: black; */
                margin: 0.8rem;
                font-size: 1.2rem;
            }
        </style>

    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    {% endblock %}
    {% block content %} 
    <div class="form_wrapper">
        <div class="form_container">
            <div class="title_container">
                <h2> SIGN IN </h2>
            </div>
            <div class="row clearfix">
                <div class="">
                    <form action="/login" method="post">
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-envelope"></i></span>
                            <input type="email" name="email" placeholder="Email" required />
                        </div>
                        <div class="input_field"> <span><i aria-hidden="true" class="fa fa-lock"></i></span>
                            <input id="id_password" type="password" name="password" placeholder="Password" required />
                            <i class="far fa-eye" id="togglePassword" style="margin-left: -30px; cursor: pointer; display: inline;"></i>
                        </div>
                        {% if error %}
                        <p class="error">{{error}}</p>
                        {% endif %}
                       
                      
                       
                        <input class="button" type="submit" value="Sign in" />
                        <a href="/register" >Register</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
    {% block scripts %}
   
    <script>
        /* Code by CodingTuting.Com */
        function footerToggle(footerBtn) {
            Rs-(footerBtn).toggleClass("btnActive");
            Rs-(footerBtn).next().toggleClass("active");
        }
    </script>
    <!-- js for eyebutton -->
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#id_password');
        
        togglePassword.addEventListener('click', function (e) {
                // toggle the type attribute
                const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                password.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
            });
    </script>
    {% endblock %}