{% extends 'layout.html' %} 
{% block title %}Orders{% endblock %} 

{% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/static/assets/css/product.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.0/TweenMax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/iScroll/5.1.3/iscroll.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/webfont/1.6.22/webfontloader.js"></script>

    <link rel="stylesheet" href="/static/assets/css/css/style.css">
    <link rel="stylesheet" href="/static/assets/css/css/style.scss">
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/assets/css/rateModal.css">
    <link rel="stylesheet" href="/static/assets/css/rate.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bullframe.css">
    <style>
      a:not([href]):not([tabindex]) {
        color: white;
      }
    </style>
    {% endblock %}
    {% block content %} 
    <!-- Rate Modal start  -->
<div id="myModal" class="modal">

    <!-- Modal content -->
<div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Rate your order</h2>
    </div>
    <div class="modal-body">
    </div>
  </div>
  
  </div>
    <!-- Rate Modal end -->
    <section class="headaer_1">
        <div class="container">
            <div class="row">
                <div class="search-bar">
                    <input type="text" placeholder="Find Book Search .......">
                    <a href=""> <i class="fa fa-search"></i> </a>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header_tex1">
                <h1>Orders Pending!</h1>
            </div>
            <div class="bf-table-responsive bf-table-responsive--zebra">
                <table class="bf-table">
                    <tr>
                      <th>OrderID</th>
                      <th>BookID</th>
                      <th>Price</th>
                      <th>City</th>
                      <th>Delivery Address</th>
                      <th >Name</th>
                      <th >Email</th>
                      <th >Phone</th>
                      <th >Delivery Instructions</th>
                      <th>Status</th>
                      <th>Cancel</th>
                    </tr>
                    {% for i in pending_orders %}
                    <tr>
                      <td>{{i[0]}}</td>
                      <td>{{i[2]}}</td>
                      <td>{{i[4]}}</td>
                      <td>{{i[8]}}</td>
                      <td>{{i[7]}}</td>
                      <td>{{i[9]}}</td>
                      <td>{{i[10]}}</td>
                      <td>{{i[11]}}</td>
                      <td>{{i[12]}}</td>
                      <td>{{i[5]}}</td>
                      <td><a onclick="return confirm('Are you sure you want to cancel this order?');" href="/cancel-order/{{i[0]}}"><button class="table-btn">Cancel</button></a></td>
                    </tr>
                    {% endfor %}
                  </table>
            </div>
            <div class="header_tex1">
                <h1>Orders Delivered!</h1>
            </div>
            <div class="bf-table-responsive bf-table-responsive--zebra">
                <table class="bf-table">
                    <tr>
                      <th>OrderID</th>
                      <th>BookID</th>
                      <th>Price</th>
                      <th>City</th>
                      <th>Delivery Address</th>
                      <th >Name</th>
                      <th >Email</th>
                      <th >Phone</th>
                      <th >Delivery Instructions</th>
                      <th>Status</th>
                      <th>Rate</th>
                    </tr>
                    {% for i in delivered_orders %}
                    <tr>
                      <td>{{i[0]}}</td>
                      <td>{{i[2]}}</td>
                      <td>{{i[4]}}</td>
                      <td>{{i[8]}}</td>
                      <td>{{i[7]}}</td>
                      <td>{{i[9]}}</td>
                      <td>{{i[10]}}</td>
                      <td>{{i[11]}}</td>
                      <td>{{i[12]}}</td>
                      <td>{{i[5]}}</td>
                      {% if i[6] %}
                        <td>{{i[6]}}</td>
                        {% else %}
                      <td><button id="myBtn-{{i[0]}}" onclick="myBtn({{i[0]}})" class="table-btn">Rate</button></td>
                      {% endif %}
                      <!-- <td hidden><button id="mBtnVal-{{i[0]}}"></button></td> -->
                    </tr>
                    {% endfor %}
                  </table>
            </div>
        </div>
        <script src="/static/assets/js/js/rateModal.js"></script>
    {% endblock %}